@import url('https://fonts.googleapis.com/css2?family=Abel&family=DM+Sans&family=Space+Mono:ital@1&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Victor+Mono:wght@100&display=swap');

:root {
    --gb-color: #252525;
    --bg-color-two: #141214;
    --bg-color-three: #45434e;
    --color-btn: #F7C667;
    --border: 5px;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color-two);
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Sans Mono", monospace;
    color: white;
}

#app {
    width: 100%;
}

/* .header {
    flex: 1;
} */

h1,
h2 {
    margin: 0;
}

/*BLOQUES LAYOUT*/
.container {
    width: 100%;
    height: calc(100vh);
    /* padding: 2rem; */
    display: flex;
}

.aside {
    background-color: var(--gb-color);
    border-radius: var(--border);
    padding: 2rem 1.5rem;
}

.aside--left {
    width: 15%;
    overflow-y: auto;
}

.aside--rigth {
    width: 30%;
}

.main {
    flex: 1;
    /* background-color: var(--gb-color); */
    border-radius: var(--border);
    font-size: 2rem;
    margin: 2rem 4rem;
}

/*------------------------------------*/
/*estilos para aside left*/

.aside--left__title {
    text-align: center;
}

.aside--left__title-list {
    margin-top: 2.5rem;
    font-size: .8rem;
    font-weight: 100;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btn {
    background: none;
    border: none;
    outline: none;
}

.list__btn {
    width: 100%;
    height: 40px;
    border-radius: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem 0 1rem;
    color: white;
    /* cursor: pointer; */
    transition: background-color .3s;
}

.list__btn:hover {
    background-color: var(--color-btn);
    color: #262526;
}

.list__btn:focus {
    background-color: var(--color-btn);
    color: #262526;
}

.list__del {
    cursor: pointer;
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.add-list__btn {
    margin-top: 1rem;
    cursor: pointer;
    color: inherit;
    margin-left: 1rem;
}

/* estilos para main */

.main__header {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 2rem;
    margin-bottom: 2rem;
}

.header__date {
    font-size: 1.2rem;
    font-weight: 100;
}

.title__fir {
    width: 100%;
    display: block;
}

.title__sec {
    width: 100%;
    color: rgb(184, 184, 184);
}

/*estilos para el contenedor de las listas y las tasks*/

.task-main {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.add-task {
    width: 100%;
    margin-bottom: 2rem;
}

.add-task__inp {
    border: none;
    background: none;
    outline: none;
    border: 1px solid rgb(161, 161, 161);
    width: 100%;
    height: 50px;
    border-radius: var(--border);
    padding: 0 1rem;
    color: white;
    font-size: 1rem;
}

.add-task__inp::placeholder {
    color: rgb(192, 192, 192);
}

.add-task__inp:focus {
    border: 1px solid rgb(255, 255, 255);
}

.list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    width: 100%;
    background-color: var(--gb-color);
    height: 50px;
    border-radius: var(--border);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: .5rem;
    font-size: 1rem;
}

.task:nth-last-child(1) {
    animation: taskAmin .5s ease-in-out backwards;
}

@keyframes taskAmin {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.task:hover {
    background-color: #2c2c2c;
}

.task__check {
    appearance: none;
    border: none;
    background: none;
    border-radius: 50%;
    border: 1px solid white;
    height: 15px;
    width: 15px;
}

.task__check:checked {
    background-color: #F7C667;
}

.task.active .task__check {
    background-color: #F7C667;
}


.task__text {
    flex: 1;
    overflow: hidden;
}

.task__btn {
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .5s;
}

.task__btn--edit {
    color: #81cdff;
}

.task__btn--delete {
    color: #ff8758be;
}

.task__btn--edit:hover {
    color: #2690f3;
}

.task__btn--delete:hover {
    color: #ff4e4ed7;
}